*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 3rem 0 0 0;
    font-family: 'Poppins', sans-serif;
    font-size: .938rem;
    font-weight: 500;
    color: #141414;
    line-height: 1.6;
}
@media screen and (min-width: 768px){
    body{
        margin: 0;
    }
}